@model ModelProject.NewsModel
@{
    ViewBag.Title = "产品详情";
    var PicPath = "http://sale.xiangninghm.com" + Model.ConvertImg;
}
<link type="text/css" href="~/css/product.css" rel="stylesheet" />

<div class="curr box">
    <span>首页</span>&gt;
    <span>我们的产品</span>&gt;
    <span>@Model.Name</span>
</div>
<div class="products clearfix">

    <div class="product_show clearfix">
        <div class="product_picshow fl">
            <div class="prodct_bigpicshow">
                 <img src="@PicPath" class="main_img" alt="@Model.Name">
            </div>
        </div><!--左边展示-->

        <div class="product_titlist fr">
            <h2>@Model.Name</h2>
            <p><span>品牌：</span>上海香凝工艺家具有限公司</p>
            <p><span>区域：</span>@Model.AreaName</p>
            <p><span>系列：</span>@Model.TypeName</p>
            <p><span>浏览次数：</span>@Model.HitTimes</p>
            
            <a href="javascript:void(0)" class="btnsub mt30" title="立即预约" style="width:100px;"  onclick="addwindow('立即预约', '/Customer/Add', '@Model.Id', '700', '400')"><span>立即预约</span></a>
        </div><!--右边标题列表-->

    </div>

    <div class="product_content">
        <div class="product_cleft fl">
            <div class="productleft_tit"><h2>相关产品</h2></div>
            @Html.Action("_RightRandomProList", "Products")
        </div><!--产品左侧列表-->
        <div class="product_cright fr">
            <div class="productright_tit">
                <ul>
                    <li>商品详情</li>
                    <li class="current">联系我们</li>
                </ul>
            </div>
            <div class="productright_content" id="picpathreset">
                @Html.Raw(Model.StrContent)
            </div>
            <div class="productright_content" style="display: block;">
                <img src="/img/logo_1.jpg" alt="上海香凝工艺家具有限公司" style="float:left;width:200px;margin-left:70px;">
                <div class="companyname fr mt10">
                    <h2>生产基地：</h2>
                    <p>上海市青浦区朱枫公路1355号（近沈砖路）</p>
                    <h2>旗舰店：</h2>
                    <p>1、上海市真北路1108号红星美凯龙南馆6楼H8009</p>
                    <p>2、上海市沪南路2178号红星美凯龙6楼F8088</p>
                    <p>3、上海市澳门路168号月星家居4楼D059木紫香凝</p>
                    <p>4、上海市徐汇区文定路200号盛源大地4楼香凝红木</p>
                </div>
                <div class="clear"></div>

                <div class="companycontent" style="min-height:385px;">
                    <div style="height:30px;"></div>
                    <p>优雅与精致，是一种立世姿态与生活态度，不论时代如何更替，唯经典长存。遵循百年海派的精神内核，“海上传奇”坚持在形式架构上追求创新,
                        以当代审美观念和价值取向作为设计支点,致力打造属于这个时代的新海派经典，为沉寂许久的家具行业带来与众不同的中西合璧式美学。
                    </p>
                    <p>
	                    品牌哲学的建立离不开理论实践的长久积累。作为家具行业中的后起之秀，“海上传奇”尽管新作不多，但其团队多年来一直潜心海派理论的研究，
                        并深得海派要领精髓，同时以一丝不苟的态度完整且有序地传承海派家具发展的文脉，这些均为其厚积薄发的作品设计之路奠定了坚实的基础。
                        在拒绝普通、选择自主、保持品牌风格的同时，“海上传奇”始终以一个颇具匠心巧思的“生活大师”身份，行走在艺术家具传承与创新道路的前端，
                        在注重维护海派传统的同时，有选择性地撷取历史精华、跟进时代潮流。事实上，“海上传奇”的每一件作品，都是由其设计师、工艺师花大量心血，
                        一丝不苟地构思和制造出来的，从设计概念、产品研发到打样、生产等，每一道工序都经过反反复复的推敲和提升。他们将前端的设计和工艺付诸实践，
                        力求将每一件作品都打造成结合智力、美学和技术的艺术品，用时间和思想给予家具无穷的艺术魅力和韵味。由此，
                        “让家具与主人进行思想交流与灵魂的对话”便成为“海上传奇”追求的至高境界。每一件家具的独特灵韵都令人感受到一种流畅的艺术质感，
                        这些作品沿袭着海派家具百年的优雅与精致，从精英市民阶层的身份地位和文化需求出发，诉求悠久而典雅的中式古典主义文化，传递出欧式的浪漫温情，
                        让居室空间散发出一种无上的高贵和含蓄。
                    </p>
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                var $li = $(".productright_tit li");
                var $ul = $(".productright_content");

                $li.bind("click", function () {
                    var $this = $(this);
                    var $t = $this.index();
                    $li.removeClass();
                    $this.addClass("current");
                    $ul.css("display", "none");
                    $ul.eq($t).css("display", "block");
                }); return false;

                

            });
            $('#picpathreset img').each(function () {
                var value = $(this).attr("src");
                //if (value.indexOf("http://sale.xiangninghm.com/") >= 0)
                //{
                //    return false;
                //}else{value = "http://sale.xiangninghm.com/" + value;}
                value = "http://sale.xiangninghm.com" + value;
                $(this).attr("src", value);
            });
        </script>

    </div>

</div>