@{
    ViewBag.Title = "我们的产品";
}
<link href="~/css/product.css" rel="stylesheet" />
<link href="~/css/case.css" rel="stylesheet" />
<img src="~/img/pro_1.jpg" alt="香凝红木" style="width:100%;" />

<div class="products">
    <div class="pronav">
        <div class="pronav_tit mt30"><span class="pl20 f18 orange">我们的产品</span></div>
        <ul class="pronavlist mt10 pb20">
            <li><span class="f16">功能：</span><a href="#">卧房家具</a><a href="#">卧房家具</a><a href="#">卧房家具</a><a href="#">卧房家具</a><a href="#">卧房家具</a></li>
            <li><span class="f16">区域：</span><a href="#">卧房家具</a><a href="#">卧房家具</a><a href="#">卧房家具</a><a href="#">卧房家具</a><a href="#">卧房家具</a></li>
        </ul>
    </div>
    </div>
    <div class="caseproduct box">
        <ul class="caselist clearfix">
             <li><a href="@Url.Action("Detail","Products")">
                 <img src="/img/case_2.jpg" alt="" />
                 <p class="pl10 mt10">装饰上门全包装修设计高端原木整屋定制</p>
                 <span class="saleprice fl">￥<span class="f20">1299</span>.00</span>
                 <a href="#" class="salebtn fr mr10" style="width:140px;">立即预约</a>
                 </a></li>
             <li><a href="@Url.Action("Detail","Products")">
                 <img src="/img/case_2.jpg" alt="" />
                 <p class="pl10 mt10">装饰上门全包装修设计高端原木整屋定制</p>
                 <a href="#" class="salebtn fr mr10" style="width:140px;">立即预约</a>
                 </a></li>
             <li><a href="@Url.Action("Detail","Products")">
                 <img src="/img/case_2.jpg" alt="" />
                 <p class="pl10 mt10">装饰上门全包装修设计高端原木整屋定制</p>
                 <a href="#" class="salebtn fr mr10" style="width:140px;">立即预约</a>
                 </a></li>
             <li><a href="@Url.Action("Detail","Products")">
                 <img src="/img/case_2.jpg" alt="" />
                 <p class="pl10 mt10">装饰上门全包装修设计高端原木整屋定制</p>
                 <a href="#" class="salebtn fr mr10" style="width:140px;">立即预约</a>
                 </a></li>
            <li><a href="@Url.Action("Detail","Products")">
                 <img src="/img/case_2.jpg" alt="" />
                 <p class="pl10 mt10">装饰上门全包装修设计高端原木整屋定制</p>
                 <a href="#" class="salebtn fr mr10" style="width:140px;">立即预约</a>
                 </a></li>
             <li><a href="@Url.Action("Detail","Products")">
                 <img src="/img/case_2.jpg" alt="" />
                 <p class="pl10 mt10">装饰上门全包装修设计高端原木整屋定制</p>
                 <a href="#" class="salebtn fr mr10" style="width:140px;">立即预约</a>
                 </a></li>
        </ul>
    </div>
