<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 香凝工艺_香凝红木_上海香凝工艺家具官网</title>
    <meta name="Keywords" content="香凝工艺、香凝红木、红木家具、红木家居、上海红木家具、上海红木、红木、上海红木家具维修、上海红木家具保养、红木家具维修保养、上海红木家居定制" />
    <meta name="Description" content="上海红木家具维修保养，24h服务。上海香凝工艺家居，主营红木家具定制、红木家具整屋定制、红木家具保养、红木家具维修等业务。集生产设计为一体，在上海红木家具定制和设计都独具先天优势和地位。上海开设4家展厅分店和1个大型加工配送中心。" />

    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <link href="@Url.Content("~/css/public-mob.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/mcomm.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/proDetail.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="@Url.Content("~/js/zepto.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/goTops.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/TouchSlide-1.1.min.js")"></script>
</head>
<body class="membg" data-marpad="padding" data-fixtop="44" data-fixbot="50">
    <div id="preloader">
        <div id="status">
            <p style="width:100%;line-height:30px;font-size:14px;">
                Loading the content...
                <em style="min-width:640px;">Loading depends on your connection speed!</em>
            </p>
        </div>
    </div>
    <div class="all-elements">
        @RenderBody()
        <footer id="footer" class="footer tc bg-white f12">
            <p class="bfx01 pt5" onclick="goUrlByTmn('/')"><i class="ftbari fthome"></i><em class="ftbarem">首页</em></p>
            <p class="bfx01 pt5" onclick="goUrl('/Products')"><i class="ftbari fmenu"><ins class="ftnum f10" id="cartNum" style="display: none;"></ins></i><em class="ftbarem">家具中心</em></p>
            @*<p class="bfx01 pt5" onclick="goUrl('/News/')"><i class="ftbari fnews"></i><em class="ftbarem">新闻中心</em></p>*@
            <p class="bfx01 pt5" onclick="goUrl('/XNAbout/LXWM')"><i class="ftbari fttel"></i><em class="ftbarem">联系我们</em></p>
            <p class="bfx01 pt5" onclick="goUrl('/Member')"><i class="ftbari ftuser"><ins id="notice" class="ftnum" style="display:none;">22</ins></i><em class="ftbarem">会员中心</em></p>
        </footer>
     </div>
     <div id="gotop" class="gotop"></div>

    <script type="text/javascript">
        $(window).goTops({ toBtnCell: "#gotop", posBottom: 70 });
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#preloader").delay(400).fadeOut("medium");
        });



    </script>

</body>
</html>
