@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业理念</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link href="@Url.Content("~/css/public-mob.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/mcomm.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/News.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/proDetail.css")" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="@Url.Content("~/js/zepto.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("/js/goTops.js")"></script>
</head>
<body data-marpad="padding" data-fixtop="44" data-fixbot="50">
    <!--header Start-->
    <header id="header" class="header ycpurple">
        @*<div class="aubgs icon-back" onclick="goUrl('@Url.Action("Index","Home")')"></div>*@
        <h1 class="bfx02 wh">关于香凝</h1>
        <div class="aubgs icon-menu" id="navmore"></div>
    </header>
    @Html.Action("_RNav", "XNAbout")
    <!--header end-->
    <div class="content">
        <h2>企业介绍</h2>
        <h6>我们一直在努力，只为您提供更好的家居生活！</h6>
        <div class="article mt10">
            <img src="~/images/about_1.jpg" alt="香凝红木" />
            <p style="text-indent:2em;">
                “暗香疏影，凝瞩不转。”香凝红木，这颗骤然升起于天穹的亮星，诞生于江南水乡千年古镇——朱家角。独树“品质至上，信誉第一”的经营理念，于文化沃土，经十年发展，上海香凝工艺品有限公司力求为客户提供物超所值的产品和服务，并将此奉为企业发展壮大的信条。目前，公司主要业务有：传统家具、现代家具、工艺品的生产与销售，全屋定制及装修，旧家具维修（开创了实体工厂从事旧家具维修的先河）。
            </p><p style="text-indent:2em;">
                十年如一日精工细作，香凝红木从设计、开料到木工、雕花、打磨、生漆都有一整套完整的规范体系，赋予红木家具鲜活的灵魂！公司全员上下多年的努力，已经得到了社会的认可：建成了规范化工厂，获得主管部门颁发的《安全生产许可证》，并成为仅有几家通过环评检测的传统家具生产企业。
            </p><p style="text-indent:2em;">
                创新思维打造企业新形象，香凝红木以产品创新为先导，营销创新为动力实现了嬗变。每一件作品既保留传统技艺之精髓，又符合现代都市百姓的生活习惯：明式风格的简洁典雅、清式风格的华丽厚重、欧式风格的雍容尊贵、现代风格的时尚雅致在这里实现了完美融合。独辟蹊径开创了“顾问式营销”、“会所式经营”，轻松、无障碍的交流环境能让人们在舒适中感受雅致生活。
            </p><p style="text-indent:2em;">
                诚信兴商构筑企业灵魂，香凝红木在业内率先推出“服务无极限”：为每位客户量身定制最完美的家具配置方案；售后网络覆盖全市，第一时间解决客户反映的问题；家具即便过了“三包”期，企业也会提供维修服务。十年如一日坚持诚信经营，香凝红木期待在业内营造“以人为本、诚信兴商”的氛围，维护消费者合法权益。
            </p><p style="text-indent:2em;">
                品牌就是生命，已经成为众多企业的共识。香凝红木却认为，品牌不只是生命，更是高于生命的一种存在。它代表了一种精神，指向一份令人神往、甘心为之付出心血与汗水的事业。
           </p><p style="text-indent:2em;">
                传承家具典雅之魂，成就生活品质至尊——香凝红木！
            </p>
        </div>
    </div>
    @Html.Action("_FNav", "XNProducts")
    <div id="gotop" class="gotop"></div>
    <script type="text/javascript">
        $(function () {
        //返回顶部插件引用
        $(window).goTops({ toBtnCell: "#gotop", posBottom: 70 });
    });

    </script>
</body>
</html>
