@{
    Layout = null;
}
<div class="navmorelist" id="navmorelist">
    <ul class="f14">
        <li><a onclick="goUrl('@Url.Action("Index","Home")')">网站首页</a></li>
        <li><a onclick="goUrl('@Url.Action("ZWDZ","XNProducts")')">整屋定制</a></li>
        <li><a onclick="goUrl('@Url.Action("JJWX","XNProducts")')">家具维修</a></li>
        <li><a onclick="goUrl('@Url.Action("Index","Products")')">精品家具</a></li>
        <li><a onclick="goUrl('@Url.Action("GYLP","XNProducts")')">工艺礼品</a></li>
        <li><a onclick="goUrl('@Url.Action("Index","Member")')">会员中心</a></li>
        <li><a href="javascript:;" onclick="location.reload()">刷新本页</a></li>
    </ul>
</div>