@model ModelProject.NewsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新闻资讯</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link href="@Url.Content("~/css/public-mob.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/mcomm.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/News.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/js/zepto.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("/js/goTops.js")"></script>
</head>
<body data-marpad="padding" data-fixtop="44" data-fixbot="50">
    <!--header Start-->
    <header id="header" class="header ycpurple">
        <div class="aubgs icon-back" id="goback"></div>
        <h1 class="bfx02 wh">新闻资讯</h1>
        <div class="aubgs icon-menu" id="navmore"></div>
    </header>
    <div class="navmorelist" id="navmorelist">
        <ul class="f14">
            <li><a onclick="goUrl('@Url.Action("Index","Home")')">首页</a></li>
            <li><a onclick="goUrl('@Url.Action("Index","Products")')">产品中心</a></li>
            <li><a onclick="goUrl('@Url.Action("Index","News")')">新闻中心</a></li>
            <li><a href="javascript:;" onclick="location.reload();">刷新本页</a></li>
        </ul>
    </div>
    <!--header end-->

    <p class="godbg godge"></p>
    <div class="content">
        <h2>@Model.Name</h2>
        <h6>@Convert.ToDateTime(Model.UpTime).ToString("yyyy-MM-dd")</h6>
        <div class="article mt10" id="godsConTxt">
            @Html.Raw(Model.StrContent)
        </div>
    </div>
    <div id="gotop" class="gotop"></div>
    <script type="text/javascript">
        $(function () {
            //返回顶部插件引用
            $(window).goTops({ toBtnCell: "#gotop", posBottom: 70 });
        });
        $('#godsConTxt img').each(function () {
            var value = $(this).attr("src");
            value = "http://sale.xiangninghm.com" + value;
            $(this).attr("src", value);
        });
    </script>
</body>

</html>
