@model ModelProject.CartAddressModel
@{
    Layout = null;
    double YLGold = 0;
    double YLStock = 0;
    double SPPrice = 0;
    double YunFei = 0;
    
    bool? IsPost = false;

}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta charset="utf-8">
    <title>确认订单</title>
    <link href="@Url.Content("~/css/public-mob.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/mcomm.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/cartorder.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/member.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="@Url.Content("~/js/zepto.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common.js")"></script>
</head>
<body class="gorbg" data-marpad="padding" data-fixtop="44" data-fixbot="50">
    <!--header Start-->
    <header id="header" class="header ycpurple">
        <div class="aubgs icon-back" id="goback"></div>
        <h1 class="bfx02 wh">确认订单</h1>
        <div class="aubgs icon-menu" id="navmore"></div>
    </header>
    <div class="navmorelist" id="navmorelist">
        <ul class="f14">
            <li><a onclick="goUrl('@Url.Action("Index","Home")')">首页</a></li>
            <li><a onclick="goUrl('@Url.Action("Index","Cart")')">购物车</a></li>
            <li><a onclick="goUrl('@Url.Action("Index","Member")')">会员中心</a></li>
            <li><a href="javascript:;" onclick="location.reload();">刷新本页</a></li>
        </ul>
    </div>


    <article class="ovh">
        @if (Model.AddModel == null)
        {
            <div class="topuppay_addr mb10">
                <a href="@Url.Action("AddAddress", "Member", new { ReturnUrl = "/Cart/CartOrder" })">
                    <div class="addrli">
                        <span class="payarowaddr db">
                            <p class="pay01 pt10 pl10 pr10 f14" style="text-align: center;font-style: italic;">
                                <span class="mr30">暂无收货地址，点击添加</span>
                            </p>
                            <p class="pay02 pl10 pr10 f14"></p>
                        </span>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="topuppay_addr mb10" onclick="goUrl('@Url.Action("Address", "Member", new { ReturnUrl = "/Cart/CartOrder" })')" id="AddressId" ref="@Model.AddModel.Id">
                <div class="addrli">
                    <span class="payarowaddr db">
                        <p class="pay01 pt10 pl10 pr10 f14">
                            <span class="mr30" id="addressUser">@Model.AddModel.Name</span><span id="address_mobile">@Model.AddModel.Telphone</span>
                        </p>
                        <p class="pay02 pl10 pr10 f14"><span id="address_detail">@Model.AddModel.Province @Model.AddModel.City @Model.AddModel.Region @Model.AddModel.addressNo</span></p>
                    </span>
                </div>
            </div>
        }
        <h2 class="orderdeta_tit mb5 f15">产品信息</h2>
        <div class="orderdeta_list mb5">
            <ul>
                @if (Model.CartModel != null && Model.CartModel.Any())
                {
                    double subTotal = 0;//商品总价
                    foreach (var item in Model.CartModel)
                    {
                        string IPicPath = "http://sale.xiangninghm.com/" + item.Product.ConvertImg;
                        double YLPrice = Convert.ToDouble(item.Product.SalePrice); ;//原来商品价格
                        double ToProPrice = 0;//商品总价
                        double ProPrice = 0;//单个商品价格

                        if (item.Product.SalePrice > 0)
                        {
                            double Sale = 1;
                            ProPrice = Convert.ToDouble(item.Product.SalePrice) * Sale;
                            ToProPrice = ProPrice * item.Amount;

                        }
                        else
                        {
                            ToProPrice = Convert.ToDouble(item.Product.SalePrice) * item.Amount;
                            ProPrice = Convert.ToDouble(item.Product.SalePrice);
                        }
                        subTotal += ToProPrice;
                        SPPrice = subTotal;
                        <li class="arowli" ref="@item.Product.Id" onclick="goUrl('@Url.Action("Detail", "Products", new { Id = item.Product.Id })')">
                            <span class="listinfo">
                                <img src="@IPicPath">
                            </span>
                            <span class="listinfo pl15 bfx01">
                                <h3 class="f14 fmy">@item.Product.Name</h3>
                                <p class="fmy">
                                    价值：<em class="cartprice red f16">&yen;@ProPrice.ToString("0.00")</em>
                                    @if (item.Product.SalePrice > 0)
                    { <em style="text-decoration:line-through;color:#888;">@YLPrice.ToString("0.00")</em>}
                                    &nbsp;&nbsp;x  @item.Amount
                                </p>
                            </span>
                        </li>
                    }
                }
                else
                {
                <li id="productsnone" ref="1"></li>}
            </ul>
          
            <div class="settlement f14 ovh">
                备注：<textarea class="inputtext" placeholder="如有特殊要求请这里写明！" id="Remarks"></textarea>
            </div>
            <div class="settlement f14 ovh" id="newStore">
                <span class="fl mr10 red">
                    温馨提示：由于红木家具价值比较大，请先提交订单之后，不用支付，微信或电话联系我们！
                </span>
            </div>
            <div class="settlement f14 ovh">
                <span class="fr mr10">合计：<em class="f16 red" id="totalCount" ref="@Convert.ToDouble(SPPrice + (IsPost == true ? 0 : YunFei))">&yen;@Convert.ToDouble(SPPrice + (IsPost == true ? 0 : YunFei)).ToString("0.00")</em></span>
            </div>
        </div>
        <footer class="pt10 pl15 pr15">
            <ul>
                <li class="f14" id="submitOrder"><span class="perexitBtn db g6 f14" id="TotalPrice" ref="@Convert.ToDouble(SPPrice + (IsPost == true ? 0 : YunFei)).ToString("0.00")">提交订单</span></li>
            </ul>
        </footer>
    </article>
    <script type="text/javascript">
        var coumosfix = 0;
        var dikou=0;
        var num = 0;
        var pric = 0;
        var CurrTab = 0;
        $(".choose").click(function () {
            _this = $(this);
            CurrTab = _this.attr("alt");
            num = parseFloat($.trim(_this.attr("ref")));
            coumosfix = parseFloat($.trim($("#dikou").text()));
            //var shipfix = parseFloat($.trim($("#shipfix").attr("ref")));
            var totalCount = parseFloat($.trim($("#totalCount").attr("ref")));
            if (coumosfix != NaN && $.trim(coumosfix) != "" && coumosfix != null && !isNaN(coumosfix))
            { dikou = coumosfix }
            if (num != NaN && $.trim(num) != "" && num != null && !isNaN(num))
            { pric = num; }
            //alert(num + ";" + dikou);
            if (CurrTab == "0")
            {
                dikou = pric + dikou; $("#dikou").html("&yen;" + formatNum(dikou)); $("#dikou").attr("ref", formatNum(dikou));
                _this.attr("alt", "1"); _this.addClass("checked");

            } else {
                dikou = dikou - pric; _this.attr("checked", false);
                _this.removeClass("checked"); $("#dikou").html("&yen;" + formatNum(dikou)); $("#dikou").attr("ref", formatNum(dikou));
                _this.attr("alt", "0");
                //alert(dikou);
                //totalCount = totalCount + dikou; $("#totalCount").html("&yen;" + formatNum(totalCount));
            }
            totalCount = totalCount - dikou; $("#totalCount").html("&yen;" + formatNum(totalCount)); $("#TotalPrice").attr("ref", formatNum(totalCount));
        });
        $("#submitOrder").click(function () {
            var Product = $("#productsnone").attr("ref");
            var AddOrderUrl = '@Url.Action("AddOrder","Order")';
            var AddressId = $("#AddressId").attr("ref");
            var DKGold = 0;
            var DKStock = 0;
            var DKGoldCount = $("#DKGold").attr("alt");
            if (parseInt(DKGoldCount) > 0)
            {
                DKGold = $("#DKGold").attr("ref");
            }
            var DKStockCount = $("#DKStock").attr("alt");
            if (parseInt(DKStockCount) > 0) {
                DKStock = parseFloat($("#DKStock").attr("ref")) * 100;
            }
            var DKPrce = $("#dikou").attr("ref");
            var YunFei = formatNum($("#shipfix").attr("ref"));
            var TotalPrice = $("#TotalPrice").attr("ref");
            var Remarks = $("#Remarks").val();
            if (AddressId == null)
            {
                UsTips("地址不能为空！");
                return;
            }
            if (Product == 1)
            {
                UsTips("购物车没货物！");
                return;
            }
            $.post(AddOrderUrl, { "AddressId": AddressId, "DKGold": DKGold, "DKStock": DKStock, "DKPrce": DKPrce, "YunFei": YunFei, "TotalPrice": TotalPrice, "Remarks": Remarks }, function (d) {
                var data = d.indexOf("&");
                if (data > 0) {
                    UsTips("下单成功！谢谢您的支持！");
                    //var arrRult = d.split("&");
                    goUrl("/Member/MyOrder/");
                    //goUrl("/ObtainWXOpenId/GetOpenId?orderId=" + arrRult[1]);
                    //goUrl("/WXPayApi/NativePayPage.aspx");
                }
                if (d == "3")
                { UsTips("请先去登录！"); goUrl("/Account/Login"); }
                if (d == "2")
                { { UsTips("请先去购物！"); goUrl("/Home/Index"); } }
                //if (d == "1")
                //{  UsTips("下单成功！"); goUrl("/Order/OrderPay");  }
                else { UsTips("网络错误！"); }
            });

        });
    </script>
</body>

</html>
