@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta charset="utf-8">
    <title>找回密码</title>
    <link href="@Url.Content("~/Content/public-mob.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/mcomm.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/member.css")" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="@Url.Content("~/js/zepto.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/back-password.js")"></script>
</head>
<body class="membg" data-marpad="padding" data-fixtop="44">
    <!--header Start-->
    <header id="header" class="header ycpurple">
        <div class="aubgs icon-back" id="goback"></div>
        <h1 class="bfx02 wh">找回密码</h1>
        <div class="aubgs icon-menu" id="navmore"></div>
    </header>
    <div class="navmorelist" id="navmorelist">
        <ul class="f14">
            <li><a onclick="goUrl('@Url.Action("Index","Home")')">首页</a></li>
            <li><a onclick="goUrl('@Url.Action("Login", "Account")')">登录</a></li>
            <li><a href="javascript:;" onclick="location.reload();">刷新本页</a></li>
        </ul>
    </div>
    <!--header end-->
    <div class="backpass f14">
        <ul>
            @*<li class="otinp mb10 rdu5">
                <input type="text" class="addinput f14" id="userName" name="userName" placeholder="请输入注册时的会员名">
            </li>*@
            <li class="otinp mb10 rdu5">
                <input type="text" class="addinput f14" id="memberPhone" name="memberPhone" placeholder="请输入注册时的手机号码">
            </li>
            <li class="getbks por rdu5">
                <input type="text" class="getinput f14" placeholder="请输入验证码" id="yzm">
                <input type="button" class="getbtn poa f14" value="获取验证码" onclick="sendYzCode();">
            </li>
            <li class="otinp mb10 rdu5" style="margin-top: 10px;">
                <input type="password" class="addinput f14" id="password1" name="password" placeholder="新密码(6-20位数字或字母)">
            </li>
            <li class="otinp mb10 rdu5">
                <input type="password" class="addinput f14" id="password2" placeholder="确认密码(6-20位数字或字母)">
            </li>
            <li class="mt10"><input type="button" class="btngreen f16 rdu5" onclick="forgetPw();" value="找回密码"></li>
        </ul>
    </div>

</body>
</html>
