@model ModelProject.NewsModel
@{
    Layout = null;
    string PicPath = "http://sale.xiangninghm.com/" + Model.ConvertImg;

    decimal ProSalePrice = Model.SalePrice ?? 0;

}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>产品详情</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link href="@Url.Content("~/css/public-mob.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/mcomm.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/js/mdialog.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/proDetail.css")" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="@Url.Content("~/js/zepto.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/TouchSlide-1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/goTops.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/tabs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/qrcode.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/mDialog.min.js")"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript"></script>
</head>
<body data-marpad="padding" data-fixtop="44" data-fixbot="50">
    <!--header Start-->
    <header id="header" class="header ycpurple">
        <div class="aubgs icon-back" id="goback"></div>
        <h1 class="bfx02 wh">产品详情</h1>
        <div class="aubgs icon-menu" id="navmore"></div>
    </header>
    @Html.Action("_RNav", "XNProducts")
    <!--header end-->
    <article class="godsconslider mb5" id="godsconslider">
        <div class="bd">
            <ul id="sliderPic">
                @*<li><img src="@PicPath" /></li>*@
                @if (!string.IsNullOrEmpty(Model.GalleryItems))
                {
                    var StrArr = Model.GalleryItems.Split(';');
                    foreach (var item in StrArr)
                    {
                        if (!string.IsNullOrEmpty(item))
                        {
                            var BigPic = "http://sale.xiangninghm.com/" + item.Replace("Thumbnails", "Published");
                            <li><a href="javascript:void(0)"><img src="@BigPic" alt="香凝红木" /></a></li>}
                    }
                }
            </ul>
        </div>
        <div class="hd"><ul></ul></div>
    </article>
    <script type="text/javascript">
        TouchSlide({
            slideCell: "#godsconslider",
            titCell: ".hd ul",
            mainCell: ".bd ul",
            effect: "leftLoop",
            autoPage: true,//自动分页
            autoPlay: $('#godsconslider .bd li').length > 1 ? true : false  //自动播放
        });

/**/</script>
    <h3 class="godsh3 f15 g3" id="godsAdv">@Model.Name</h3>
    @*<h3 class="godsh3 f15 g9" id="godsTit">@Model.KeyWord</h3>*@
    <article class="pricesales listinfo ovh g6 f14">
        <p class="ps">
            <span class="pl10">点击：</span>

            <span class="f18 copurple" id="freePrice">@Model.HitTimes</span>
        </p>
        <p class="ps"><span class="pl10">价值：</span><span class="f18 copurple">@(ProSalePrice > 0 ? "￥" + @ProSalePrice : "红木家具产品请到实体店购买")</span></p>
        <a class="btnbox f10 tc" ref="@Model.MemberNumber" id="WXshare" href="#sharecontent" target="_self">
            <span class="erwm fr gbs ovh db">分&nbsp;&nbsp;享</span>
        </a>

    </article>
    <article class="p10 g6 f14">
        <p class="listinfo f16 g3">备注<span></span>：</p>
        <p class="godcbtxt g9 f14" id="godcbTxt">@Model.Remarks</p>
    </article>

    <p class="godbg godge"></p>

    <article class="godstab" id="goodstab">
        <div class="godstabnav f15">
            <ul>
                <li class="on">商品介绍</li>
                <li>相关产品推荐</li>
            </ul>
        </div>
        <div class="godstabcent">
            <div class="detailed ovh" id="godsConTxt">

                @Html.Raw(Model.StrContent)
            </div>
            <div class="parameter ovh">
                @Html.Action("_RecommendPro", "Products", new { PageSize = 4 })
            </div>
        </div>
    </article>
    <div class="erwmbox csscentbox" id="erwmbox"><div class="erwmcon" id="erwmcon"></div></div>
    <article class="p10">
        @if (ProSalePrice > 0)
        {
            <img src="~/bg/shopshow.jpg" alt="香凝红木导购说明" style="width:100%" />
            <p class="godbg godge"></p>
            <img src="~/bg/xnabout.jpg" alt="香凝红木企业介绍" style="width:100%" />
            
        }
    </article>
    @if (ProSalePrice > 0) { 
    <article class="p10" id="sharecontent">
        <p class="godbg godge"></p>
        <p class="listinfo f16 red pb10 pt10" style="text-align:center;">备注<span></span>：登录成功之后长按下图，点击保存到手机，分享有惊喜！</p>
        <div><img src="@Html.Action("GetWXSharPic","Products",new { Id=Model.Id,GalleryItems=Model.GalleryItems,t=Model.MemberNumber})" alt="香凝红木分享图" style="width:100%" /></div>
    </article>
    }
    <footer id="footer" class="footer tc bg-white">

        <p class="bfx01"><a href="tel:@(!string.IsNullOrEmpty(Model.tel)?Model.tel:"13311601955")"><span class="btnliji wh db f15" style="background: rgb(85, 85, 85);">电话我们</span> </a></p>
        @*<p class="bfx01 pr5" onclick="goUrl('@Url.Action("Index","Cart")')"><span class="btngowu red db"><em class="por f12">&nbsp;<i style="display:none;" id="cartNum"></i></em></span></p>*@

        @if (ProSalePrice > 0)
        {<p class="bfx01 pl5" id="godsaddCart" ref="@Model.Id"><span class="btnliji wh db f15">立即购买</span></p> }
        else
        { <p class="bfx01 pl5"><span class="btnliji wh db f15" onclick="goUrl('@Url.Action("KanDian","Home")')">预约看店</span></p>}
    </footer>

    <div id="gotop" class="gotop"></div>
    <script type="text/javascript">
        var CartCount = '@Model.CartCount';
        // 加入购物车
        $("#godsaddCart").click(function () {
            var timer = null;
            clearTimeout(timer);
            var ProId = $(this).attr("ref");
            timer = setTimeout(function () {
                var parid = parsURL(window.location.href).params;
                $.ajax({
                    type: "get",
                    data: { "ProductId": ProId ,"Amount":1},
                    url: "/Cart/AddToCart",
                    dataType: "json",
                    //jsonp:"callback",
                    success: function (data) {
                        var msg = "";
                        if (parseInt(data)>0) {
                            //showCartNum(parseInt(data));  // 重新计算购物车数量
                            window.location.href = "/Cart/";
                            //msg = "恭喜加入购物车成功！";
                        }
                        else { msg = "此商品加入购物车失败！"; }
                        //dialogMsg(msg);
                    }
                });
            }, 500);
        });
        // 查看购物车数量
        //function showCartNum(i) {
        //    if (i > 0) {
        //        // 显示购物车数量
        //        $("#cartNum").css({ display: "block" }).text(i);
        //    } else {
        //        // 如果未登录，则不显示数量提示
        //        $("#cartNum").css({ display: "none" });
        //    }
        //};
        //if (parseInt(CartCount) > 0)
        //{
        //    $("#cartNum").css({ display: "block" }).text(parseInt(CartCount));
        //}


        $(function () {

            $(window).goTops({ toBtnCell: "#gotop", posBottom: 70 });
        });
        $("#goodstab").tabs({
            navCell: ".godstabnav li",
            conCell: ".godstabcent",
            currCell: "on"
        });
        $('#godsConTxt img').each(function () {
            var value = $(this).attr("src");
            value = "http://sale.xiangninghm.com" + value;
            $(this).attr("src", value);
        });
    $("#WXshare").click(function () {
        var MemberNumber = $(this).attr("ref");
        if (typeof (MemberNumber) == "undefined" || MemberNumber == null || MemberNumber == "") {
            UsTips("请先去登录！");
            return window.location.href = "/Account/Login?ReturnUrl=/Products/Detail/" + '@Model.Id';
        }


    });

    </script>

</body>
</html>
