@using Common;
@{
    var Area = Html.CurrentArea();
    var Conl = Html.CurrentController();
    var Action = Html.CurrentAction();
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title -- 上海香凝工艺家具官网</title>
    <meta name="Keywords" content="香凝工艺、香凝红木、红木家具、红木家居、上海红木家具、上海红木、红木、上海红木家具维修、上海红木家具保养、红木家具维修保养、上海红木家居定制" />
    <meta name="Description" content="上海红木家具维修保养，24h服务。上海香凝工艺家居，主营红木家具定制、红木家具整屋定制、红木家具保养、红木家具维修等业务。集生产设计为一体，在上海红木家具定制和设计都独具先天优势和地位。上海开设4家展厅分店和1个大型加工配送中心。" />

    <link type="text/css" href="~/css/base.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/layer/layer.js"></script>
</head>
<body>
    <div id="header">
        <div class="box clearfix">
            <a href="@Url.Action("Index","Home")"><img src="~/bg/logo.png" alt="香凝工艺" class="mt10" /></a>
            <ul class="headernav">
                <li @(Conl=="Home"?"class=selected":"")><a href="@Url.Action("Index","Home")">首页</a></li>
                <li @(Conl=="OurAdvantages"?"class=selected":"")><a href="@Url.Action("Index","OurAdvantages")">我们的优势</a></li>
                <li @(Conl=="Products"?"class=selected":"")><a href="@Url.Action("Index","Products")">我们的产品</a></li>
                <li @(Conl=="OurActivities"?"class=selected":"")><a href="@Url.Action("Index","OurActivities")">我们的活动</a></li>
                <li @(Conl=="CustomCase"?"class=selected":"")><a href="@Url.Action("Index","CustomCase")">私人定制•案例</a></li>
                <li @(Conl=="About"?"class=selected":"")><a href="@Url.Action("ContactUs","About")">联系我们</a></li>
            </ul>
        </div>
    </div>

    @RenderBody()

    <div id="footer">
        
        <div class="foot1">
            <ul class="box">
                <li class="f_address"><p>公司地址：</p><p>上海市青浦区朱枫公路1355号（近沈砖路）</p></li>
                <li class="f_tel"><p>公司电话：</p><p>13311601955</p></li>
                <li class="f_email"><p>公司邮箱：</p><p>xn@xiangninghm.com</p></li>
            </ul>
        </div>
        <div class="box">
            <div class="foot2">
                 <div class="clearfix">
                     <dl class="f_aboutUs ml20">
                        <dt><a href="@Url.Action("Index","About")">关于我们</a></dt>
                        <dd><a href="@Url.Action("ContactUs","About")">联系我们</a></dd>
                        <dd><a href="@Url.Action("Idea","About")">企业理念</a></dd>
                     </dl>
                     <dl class="f_product">
                        <dt>关于产品</dt>
                        <dd><a href="@Url.Action("Index","OurAdvantages")">技术工艺</a></dd>
                        <dd><a href="@Url.Action("ContactUs","About")">售后服务</a></dd>
                        <dd><a href="@Url.Action("ContactUs","About")">产品保养</a></dd>
                     </dl>
                     <dl class="f_other">
                        <dt><a href="@Url.Action("ContactUs","About")">关于其他</a></dt>
                        <dd><a href="@Url.Action("ContactUs","About")">招商加盟</a></dd>
                        <dd><a href="@Url.Action("ContactUs","About")">线下门店</a></dd>
                     </dl>
                     <dl class="f_contact">
                        <dt>官方微信</dt>
                        <dd><img src="~/bg/qrCode.png" /></dd>
                     </dl>
                 </div>
                   
                <p class="mt50">©2018 - 上海香凝工艺家具有限公司版权所有</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript">
        var browser = {
            versions: function () {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息   
                    trident: u.indexOf('Trident') > -1, //IE内核  
                    presto: u.indexOf('Presto') > -1, //opera内核  
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核  
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核  
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端  
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端  
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器  
                    iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器  
                    iPad: u.indexOf('iPad') > -1, //是否iPad    
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部  
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        }

        if (browser.versions.mobile || browser.versions.ios || browser.versions.android ||
                browser.versions.iPhone || browser.versions.iPad) {
            window.location.href = "http://m.xiangninghm.com";
        }
    </script>
</body>
</html>
