@{
    Layout = null;
}
<div class="navmorelist" id="navmorelist">
    <ul class="f14">
        <li><a onclick="goUrl('@Url.Action("Index","Home")')">网站首页</a></li>
        <li><a onclick="goUrl('@Url.Action("CXHD","XNServe")')">促销活动</a></li>
        <li><a onclick="goUrl('@Url.Action("JJBY","XNServe")')">家具保养</a></li>
        <li><a onclick="goUrl('@Url.Action("SHFW","XNServe")')">售后服务</a></li>
        <li><a onclick="goUrl('@Url.Action("ZSJM","XNServe")')">招商加盟</a></li>
        <li><a onclick="goUrl('@Url.Action("Index","Member")')">会员中心</a></li>
        <li><a href="javascript:;" onclick="location.reload()">刷新本页</a></li>
    </ul>
</div>